%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1.form-horizontal
        = horizontal_form_for [:admin, @video] do |f|
          %ul.nav.nav-tabs
            %li
              %a(href="/ui/admin_views_payments") Recent Payments
            %li.active
              = link_to "Add a New Video", admin_add_video_path
          %br
          %fieldset
            .form-group
              .control-label.col-sm-3
                = f.label :title
              .col-sm-3
                = f.text_field :title, class: 'form-control', id:'title_of_video'
              
            .form-group
              .control-label.col-sm-3
                = f.label :category_id
              .col-sm-6
                = f.select :category_id, options_for_select(Category.all.map { |category| [category.name, category.id] }), {}, { class: 'form-control' }
              
            .form-group
              .control-label.col-sm-3
                = f.label :description
              .col-sm-6
                = f.text_area :description, rows: 8, class: 'form-control'
                
            .form-group
              .control-label.col-sm-3
                = f.label :large_cover, "Large Cover"
              .col-sm-6
                = f.file_field :large_cover, class: "btn btn-file form-control"

            .form-group
              .control-label.col-sm-3
                = f.label :small_cover, "Small Cover"
              .col-sm-6
                = f.file_field :small_cover, class: "btn btn-file form-control"
                
            .form-group
              .control-label.col-sm-3
                = f.label :video_url, "Video URL"
              .col-sm-6
                = f.text_field :video_url, class: 'form-control'

          %fieldset.actions.form-group
            .col-sm-6.col-md-offset-3
              .controls
                = f.submit "Add Video", class: "btn btn-default"